@model IEnumerable<MvcCreditApp.Models.Bid>

@{
    ViewData["Title"] = "Заявки";
}

<h2>Заявки</h2>

<p>
    <a asp-action="Create">Создать новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.CreditHead)</th>
            <th>@Html.DisplayNameFor(model => model.bidDate)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.CreditHead)</td>
                <td>@item.bidDate.ToString("dd.MM.yyyy")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.BidId">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.BidId">Подробнее</a> |
                    <a asp-action="Delete" asp-route-id="@item.BidId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
